# General temp files
.DS_Store

# IDE and editors
*~
*swp
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws
.cache

# Package Files
*.jar
*.war
*.ear

*.class

# Scala
DSL/project/*
DSL/target/*
DSL/_output/*
